/* ===== Primary Styles =====================================================
   Bail
========================================================================== */

body {
    background: #999999;
    font-family: Arial,​Verdana,​Helvetica,​sans-serif;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
    background-color: #ED3C95;
}

/*======================================
	Styles
=======================================*/
#content h1{
    color: #eD3C95;
    font-size: 25px;
    margin-bottom: 20px;
}

.maincontent p{
    text-align: justify;
}

.maincontent .text-center p{
    text-align: center;
}

#content ul{

}

#sidebar ul li {
    padding-left: 20px;
    line-height: 21px;
    background: rgba(0, 0, 0, 0) url("../../images/matrimonial/list.gif") no-repeat scroll 0 7px;
}

a, a:hover,
a:active,
a:visited {
    color: #eD3C95;
}

.line{
    border-bottom: 1px solid #eD3C95;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: normal;
}

.agenda{
    padding: 15px;
    background: #eD3C95;
    color: #f5c8c8;
}

.agenda a,
.agenda h5{
    color: #fff;
    margin: 0;
    padding: 0;
}

.agenda h5{
    margin-bottom: 5px;
    border: none;
}

.autorite-canton {
    text-align: center;
}

.titleJurisprudence{
    line-height:90px;
    font-size: 13px;
    vertical-align: bottom;
}

/*======================================
	Main Blocks
=======================================*/
#main {
    background: #cccccc;
}

.maincontent {
    background: #fff none repeat scroll 0 0;
}

#mainSidebar {
    margin-bottom: 0;
}

.inner{
    padding: 10px 20px;
}

.header {
    background: #333333;
    height: 100px;
    margin-left: -15px;
    margin-right: -15px;
}

.header h1 {
    line-height: 100px;
}

.sidebar-bloc{
    background: #ccc;
}

.form-bloc{
    padding: 15px 0;
}

#breadcrumbs
{
    background: #ccc none repeat scroll 0 0;
    color: #000;
    height: 30px;
    line-height: 20px;
}

#breadcrumbs,
#breadcrumbs a {
    color: #000;
}

.colorBlock{
    background: #eD3C95;
}

.btn-inverse{
    background: #333333;
    font-size: 12px;
    line-height: 19px;
}

.btn-inverse:hover{
    background: #f5f5f5;
}

.colorBlock h4,
.colorBlock a,
.colorBlock p {
    color: #fff;
}

.colorBlock{
    background: #eD3C95;
}

.colorBlock p {
    color: #f5c8c8;
}

/*======================================
	Navigation
=======================================*/
#menu-principal > a{
    color: #eD3C95;
}

#menu-principal > a:after {
    content: "";
}

#menu-principal > a:hover,
#menu-principal > a.active {
    color: #eD3C95;
}

#app #menu-principal {
    padding: 0 20px 0 0;
    line-height: 90px;
}

#app #menu-principal > a{
    padding: 0 10px;
}

/*======================================
	Form
=======================================*/
.form-control:focus {
    border-color: #f5c8c8;
    box-shadow: none;
}

.searchform input, .searchform button {
    height: 35px;
}

/*======================================
	Sidebar
=======================================*/

.sidebar-content-bloc{
    margin-bottom: 20px;
    background: #ff99cc;
    margin-left:-15px;
    margin-right:-15px;
    -webkit-box-shadow:inset 3px 0 3px -2px #e62f8b;
    box-shadow:inset 3px 0 3px -2px #e62f8b;
}

.sidebar-content-bloc h5{
    color: #fff;
    padding:10px 10px 5px 10px;
}

.sidebar-content-bloc .bloc-content{
    padding: 0 15px 15px 15px;
}

#mainSidebar h5{
    margin-bottom: 0;
}

#mainSidebar h5 a{
    display: block;
    background: #ff99cc;
    margin-left:-15px;
    margin-right:-15px;
    color: #fff;
    padding:10px;
    -webkit-box-shadow:inset 3px 0 3px -2px #e62f8b;
    box-shadow:inset 3px 0 3px -2px #e62f8b;
}

.color-bloc {
    color: #fff;
    padding:15px 10px;
    background: #ff99cc;
    -webkit-box-shadow:inset 3px 0 3px -2px #e62f8b;
    box-shadow:inset 3px 0 3px -2px #e62f8b;
}

.color-bloc h5{
    margin-bottom: 0;
}

.bloc-soutien{
    margin-bottom: 20px;
}

.bloc-soutien:last-child{
    margin-bottom: 0px;
}

.bloc-soutien h5{
    font-size: 13px;
    margin-bottom: 10px;
}

.color-bloc h5 a,
.color-bloc h5 a:visited{
    color: #fff;
    text-decoration: none;
}

.color-bloc h5 a:hover{
    color:#ED3C95;
}
.color-bloc h4{
    color: #000;
}
.homepageBlock div{
    text-align: justify;
}

.homepageBlock div h5{
    text-align: left;
}

.homepageBlock a{
   margin-top: 5px;
}

/**
* Main content app styles
*/

.inner-app{
    padding: 40px;
}

.inner-app h2{
    margin-bottom: 40px;
    color: #eD3C95;
    font-size: 30px;
}

#newsletter h2{
    font-size: 25px;
    font-weight: bold;
    color:#000;
    margin-bottom: 20px;
}

#newsletter .row{
    margin-bottom: 40px;
}

#newsletter .bloc-content h2{
    font-size: 25px;
    color: #eD3C95;
}

.inner-app form label{
    color: #eD3C95;
}

.sidebar-list{
    max-height:400px;
    overflow: scroll;
}

.analyse-app{
    margin-bottom: 40px;
}

.sidebar-app{
    margin-top: 25px;
    padding-left: 30px;
}

#appComponent .sidebar-app{
    position: fixed;
    margin-top: -20px;
}

.sidebar-app h3{
    color: #000;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
}

.list-cat-app{
    margin-bottom: 10px;
}

.list-cat-app,
.list-cat-app p{
    text-align: center;
}

.post-title p{
    font-style: italic;
    margin: 15px 0;
}

.post-title p,
.post-entry,
.post-entry p{
    font-size: 14px;
}

.sidebar-app .widget{
    padding: 10px 10px;
    background: #f5f5f5;
    border:1px solid #ebebeb;
}

.sidebar-app .widget .title{
    background: #fbfbfb none repeat scroll 0 0;
    border: 1px solid #ebebeb;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.widget p{
    margin-bottom: 3px;
}

.widget p label{
    margin-left: 5px;
}

.well-app{
    margin-top: 10px;
    border-radius: 0;
    background: #fff;
    box-shadow:none;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #eD3C95;
    border-color: #eD3C95;
}

.pagination > li > a, .pagination > li > span {
    color: #eD3C95;
}

.analyse-app{
    margin: 20px 0 40px 0;
}

.btn-matrimonial{
    background-color: #eD3C95;
    border-color: #eD3C95;
    color: #fff !important;
    width: 100%;
    text-align: center;
    border-radius: 0px;
}

.sidebar-unine-logo{
    padding: 10px;
    line-height: 70px;
}