.media .thumbnail{
    margin-bottom: 0;
}
.inscription h4{
    margin-top: 20px;
}

/* ---- grid ---- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { font-family: sans-serif; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { font-family: sans-serif; }

.grid {
    max-width: 1100px;
    width: 1100px;
    margin: 0 auto;
    padding: 10px;
    background: #f8f8f8;
}

.grid-item {
    float: left;
}

/* item is invisible, but used for layout */
.grid-item,
.grid-item-content {
    width: 360px;
    height: 239px;
}

.grid-item .grid-item-content .closing{
    opacity: 0;
    top: -5px;
    position: absolute;
    right: -5px;
    text-align: center;
    width: 20px;
    background: #888888;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
}

.grid-item.is-expanded  .grid-item-content .closing{
    opacity: 1;
}

/* item-content is visible, and transitions size */
.grid-item-content {
    width: 360px;
    height: 239px;
    border: 5px solid transparent;
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}

.item-bloc{
    background: #fff;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 1px 0px #D4D4D4;
    box-shadow: 0 0px 1px 0px #D4D4D4;
    display: flex;
    flex-direction: column;
}

.item-bloc header{
    width: 100%;
    background: #646768;
    flex: 1;
    padding-right:10px;
    max-height: 90px;
}

.item-bloc header p{
   font-size: 12px;
    padding: 5px 0 5px 0;
    color: #fff;
}

.item-bloc .body{
    width: 100%;
    background: #f5f5f5;
    padding: 5px 10px 5px 10px;
    flex: 1;
}

.item-bloc footer{
    width: 100%;
    padding: 2px 10px 2px 10px;
    flex: 1;
    max-height: 66px;
}

.item-bloc i{
    color: #fff;
}

.item-bloc header p, .item-bloc address, .item-bloc address p{
    margin-bottom: 0;
}

.grid-item:hover .grid-item-content {
    cursor: pointer;
}

/* both item and item content change size */
.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
    width: 720px;
    height: 478px;
}

.grid-item.is-expanded {
    z-index: 2;
}

.grid-item header a{
    display: none;
}

.grid-item.is-expanded header a{
    display: block;
}

.grid-item .inner {
    opacity: 0;
    height: 0;
    margin-top: 10px;
    transition: opacity 0.2s 0s ease;  /* Mouse leave: immediate */
}

.grid-item address {
    opacity: 1;
    transition: opacity 0.2s 0.3s ease; /* Mouse enter: delay */
}

.grid-item.is-expanded  address {
    opacity: 0;
    height: 0;
    transition: opacity 0.2s 0s ease;  /* Mouse leave: immediate */
}

.grid-item.is-expanded .inner {
    opacity: 1;
    overflow: hidden;
    height: 265px;
    transition: opacity 0.2s 0.3s ease; /* Mouse enter: delay */
}

.loader{
    padding: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    display: none;
}

.colloque_date{
    width:60px;
    height:100%;
    background: #fff;
    float: left;
    margin-right:5px;
}

.colloque_date span{
    width:60px;
    padding:0 5px;
    display: block;
    text-align: center;
}

.colloque_date span.month{
   font-size: 16px;
    color: #fff;
    background: #e40000;
}

.colloque_date span.day{
    font-size: 20px;
    padding-top: 3px;
}

.colloque_date span.year{
    font-size: 12px;
}

.colloque-details{
    height: 275px;
    overflow: scroll;
    font-size: 13px;
    line-height: 16px;
}

.colloque-details p{
    margin-bottom: 2px;
}

.option-choix{
    float: left;
    width: 50%;
    margin-bottom: 0;
    margin-top: 5px;
}

fieldset .form-group{
    margin-bottom: 0;
}

.radio.option-choix + .radio{
    margin-top: 5px;
}

.group-choix{
    margin-bottom: 0;
}

.group-choix label{
    display: block;
    margin-bottom: 0;
}

.group-choix:after{
    content: '.';
    visibility: hidden;
    clear: both;
    height: 0;
}