/node_modules
.env
composer.phar
.DS_Store
.idea/
/tests/coverage

.htaccess
public/error_log
storage/queue.pid

public/logos/
public/files/products/
public/files/arrets
public/files/authors
public/files/analyses
public/files/uploads
public/files/colloques
public/files/pictos
public/files/shop
public/files/import
storage/excel/exports/
public/files/abos/
public/files/seminaires
public/colloques
public/newsletter/js/env.js
storage/designpond_registry.json
storage/droitformation_registry.json
public/files/downloads
public/newsletter/
public/storage
storage/excel/
storage/test/
public/files/authors/
public/filemanager/files/
public/backend/js/redactorold/
public/backend/js/redactorold1/
public/files/imports
storage/test
.phpunit.result.cache
storage/droitformation_registry.json
