/node_modules
.env
composer.phar
composer.lock
.DS_Store
.idea/
/public/logos/

public/files/products/
public/files/arrets
public/files/analyses
public/files/uploads
public/files/colloques
public/files/pictos
storage/excel/exports/
public/dispatch/
public/files/abos/

