language: php
php:
  - '7.0'

before_script:
  - cp .env.travis .env
  - mysql -e 'create database staging;'
  - composer self-update
  - composer install --no-interaction
  - php artisan key:generate

script:
  - php artisan migrate --env=testing --no-interaction
  - php artisan db:seed --env=testing --no-interaction
  - composer dumpautoload
  - vendor/bin/phpunit --testsuite Unit
  - vendor/bin/phpunit --testsuite Feature