<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="abo">
            <directory>./tests/abo/</directory>
        </testsuite>
        <testsuite name="arrets">
            <directory>./tests/arrets/</directory>
        </testsuite>
        <testsuite name="reminder">
            <directory>./tests/reminder/</directory>
        </testsuite>
        <testsuite name="cart">
            <directory>./tests/cart/</directory>
        </testsuite>
        <testsuite name="inscription">
            <directory>./tests/inscription/</directory>
        </testsuite>
        <testsuite name="order">
            <directory>./tests/order/</directory>
        </testsuite>
        <testsuite name="colloque">
            <directory>./tests/colloque/</directory>
        </testsuite>
        <testsuite name="helper">
            <directory>./tests/helper/</directory>
        </testsuite>
        <testsuite name="shop">
            <directory>./tests/backend/shop/</directory>
        </testsuite>
        <testsuite name="create">
            <directory>./tests/backend/create/</directory>
        </testsuite>
        <testsuite name="content">
            <directory>./tests/backend/content/</directory>
        </testsuite>
        <testsuite name="adresse">
            <directory>./tests/backend/adresse/</directory>
        </testsuite>
        <testsuite name="generate">
            <directory>./tests/generate/</directory>
        </testsuite>
        <testsuite name="frontend">
            <directory>./tests/frontend/</directory>
        </testsuite>
        <testsuite name="pubdroit">
            <directory>./tests/pubdroit/</directory>
        </testsuite>
        <testsuite name="export">
            <directory>./tests/export/</directory>
        </testsuite>
        <testsuite name="sondage">
            <directory>./tests/sondage/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app/Droit</directory>
            <directory suffix=".php">./app/Http/Controllers</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
