<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="cart">
            <directory>./tests/cart/</directory>
        </testsuite>
        <testsuite name="inscription">
            <directory>./tests/inscription/</directory>
        </testsuite>
        <testsuite name="order">
            <directory>./tests/order/</directory>
        </testsuite>
        <testsuite name="colloque">
            <directory>./tests/colloque/</directory>
        </testsuite>
        <testsuite name="excel">
            <directory>./tests/excel/</directory>
        </testsuite>
        <testsuite name="helper">
            <directory>./tests/helper/</directory>
        </testsuite>
        <testsuite name="newsletter">
            <directory>./tests/newsletter/</directory>
        </testsuite>
        <testsuite name="backendshop">
            <directory>./tests/backend/shop/</directory>
        </testsuite>
        <testsuite name="content">
            <directory>./tests/backend/content/</directory>
        </testsuite>
        <testsuite name="adresse">
            <directory>./tests/backend/adresse/</directory>
        </testsuite>
        <testsuite name="generate">
            <directory>./tests/generate/</directory>
        </testsuite>
        <testsuite name="frontend">
            <directory>./tests/frontend/</directory>
        </testsuite>
        <testsuite name="product">
            <directory>./tests/product/</directory>
        </testsuite>
        <testsuite name="export">
            <directory>./tests/export/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
