.datepicker {
    z-index: 1450;
}

#wrap {
    min-height: 800px;
}

a{
    cursor: pointer;
}

.panel-group .panel {
    margin-bottom: 20px;
}

.navbar-fixed-top {
    z-index: 1080;
}

.table-responsive {
    overflow: hidden;
}

.inscription_wrapper table tr td{
    line-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.inscription_wrapper p{
    margin-bottom: 2px;
}

.divider-hidden{
    border-width:0;
}

.collapse_anchor i{
    padding-right: 5px;
}

.modal-dialog {
    z-index: 1070;
    margin-top: 80px;
}

.user_edit{
    border-left: 1px solid #ccc;
}

.collapse_anchor:hover,.collapse_anchor:active{
    outline: none;
    text-decoration: none;
}

.inscription_wrapper{
    padding: 10px 10px 15px 10px;
}

table.dataTable thead .sorting_asc::after{
    content: "▲";
    opacity: 0.3;
}

table.dataTable thead .sorting::after{
    content: "▼";
    opacity: 0.3;
}

.pagination > li > a, .pagination > li span {
    padding: 5px 12px;
}

select.form-control + .chosen-container .chosen-results li, select.form-control + .chosen-container .chosen-results li.active-result {
    white-space: pre-wrap;
}

.ui-widget-content {
    border: 1px solid #aaa;
    color: #222;
    background: #fff;
    display: inline-block;
    list-style: outside none none;
    padding: 3px;
    z-index: 1000;
}

.ui-widget-content li a span{
    display: block;
    font-size: 12px;
}

.normalTable p{
    margin-bottom: 0;
}

.ui-widget-content li a{
    display: block;
    margin: 2px 0;
    padding: 2px 0;
    text-decoration: none;
}

.ui-widget-content li.ui-state-focus{
    background: #f5f5f5;
    border: 1px solid transparent;
}

.ms-container {
    width: 550px;
}

.single-dropzone .dz-image-preview, .dz-file-preview {
    display: none;
}

.form-horizontal .checkbox-inline.centre{
    margin: 5px;
}

.stepy-header li {
    display: inline-block;
    width: 220px;
    background: #e2eaf3;
    padding: 5px 10px;
}


.panel-body > .list-group {
    margin: 0 -20px;
}

.panel-list h4,.panel-list p{
    margin: 0;
}

.list-group-item {
    padding: 5px 15px 5px 15px;
    line-height: 23px;
}

.list-group-item .form-group {
    margin-bottom: 2px;
}

.list-group-item p{
    margin-bottom: 0;
}

.list-group-item h5{
    margin: 5px 0 0 0;
}

.order-item{
    margin-bottom: 5px;
    line-height: 40px;
}

.table > tbody > tr > td.nopadding{
    padding: 0;
}

.table > tbody > tr > td .well{
    border-radius: 0;
}

.list-group-item .label {
    font-size: 90%;
    line-height: 20px;
    display: inline-block;
    min-width: 85px;
    margin-right: 5px;
}

.list-group-item .btn.btn-danger, .list-group-item .btn.btn-info {
    line-height: 19px;
    margin-top: -1px;
    margin-left: 1px;
    margin-right: 1px;
}


.list-group-item-title:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 0;
}

.list-group .list-group-item-title {
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}

#accordion{
    margin-bottom: 20px;
}

.container-export{
    margin-bottom: 20px;
}

.checkbox-item{
    width: 100%;
    display: block;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #f6f6f6;
    vertical-align: middle;
}

.checkbox-item .label{
    line-height: 17px;
}

.checkbox-item .item-content{
    width: 80%;
}

#exportOptions{
    margin-top: 15px;
}

.form-horizontal .checkbox-inline.checkbox-border{
    padding: 5px 10px 5px 5px;
    border: 1px solid #ddd;
    margin-left: 0;
    margin-bottom: 5px;
}

.checkbox-inline.checkbox-border input[type="checkbox"]{
    margin-left: 0;
    margin-right: 8px;
}

.checkbox-border label{
    padding: 0 5px;
    margin-bottom: 0;
}

.checkbox-item input[type="checkbox"]{
    margin-left: 0;
    margin-right: 5px;
}

blockquote {
    font-size: 15px;
}

blockquote p{
    margin-bottom: 2px;
}

.nav-title{
    padding: 3px 10px;
    background: #313338;
    color: #fff;
}

.tab-container .tab-content{
    background: #fff;
}

a {
    outline: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
}

.input-group-addon {
    min-width: 30px;
    padding: 7px 4px;
}

.input-group-addon.bg-success{
    background-color: #85c744;
    border-color: #85c744;
    color: #ffffff;
}

.card{
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    line-height: 16px;
    margin: 0 0 20px 0;
    padding: 10px;
    display: table;
    width: 100%;
}

.card p{
    margin: 0;
}

.card p a{
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.form-required{
    border:1px solid #ffaeae;
}

#adresseParent{
    margin: 5px 0 25px 0;
}

#adresseMake,#adresseFind, .adresse-find{
    border: 1px solid #d2d3d6;
    margin-top: 20px;
    padding: 20px;
    background: #f5f5f5;
}

#adresseFind , .adresse-find{
    padding-bottom: 0px;
}

#adresseParent .collapse.in{
    display: block !important;
}

#cloneBtnOrder{
    margin-top: 10px;
}

.dd-selected-text{
    display: inline;
}

.well-sm {
    border-radius: 1px;
    padding: 5px 10px 10px 10px;
    background: #fff;
}

.file-upload-list{
    list-style: none;
}

.file-upload-item{
    display: inline-block;
    margin: 7px;
}

.file-upload-item img{
    height: 80px;
}

.modal-dialog-big {
    width: 90%;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    overflow-y: scroll;
    position: relative;
}

.list{
    margin-top: 20px;
}

.card .list-unstyled {
    margin-bottom: 0;
}

.form-horizontal .editable {
    padding: 0;
}

 a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border: 0;
}

.editable-click{
    border: 1px solid #d2d3d6;
    color: #666;
    font-style: normal;
    padding: 5px;
    float: left;
    margin-bottom: 0;
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.016) inset !important;
    height: 34px;
    background-color: #ffffff;
    background-image: none;
    line-height: 1.42857;
}

.nestable_list{
    margin-top: 20px;
}

.nestable_list .dd-handle {
    position: relative;
    height: 40px;
    line-height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    cursor: move;
}

.nestable_list .dd-handle a:not(.btn){
    font-size: 15px;
}

.nestable_list .dd-handle form{
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 20;
}

#bloc-wrapper{

}

.bloc-content{
    margin: 20px 0;
    padding: 10px 15px;
    border: 1px solid #f4f4f4;
    background: #eee;
}

.selects p {
    margin-bottom: 0;
}

select[multiple] {
    height: 150px;
}

#msgEditOk{
    color: green;
    display: none;
    float: left;
    font-size: 11px;
    margin-left: -8px;
    margin-right: 5px;
    padding-top: 6px;
}

.media-left img,
.media-right img,
.media-body img{
    max-width: 100%;
}

.media-heading{
    font-size: 15px;
}
.media-left, .media > .pull-left {
    padding-right: 15px;
}

.panel-colloque{
    min-height:170px;
}

.no-colloque{
    display: block;
    color: #8f8f8f;
    font-size: 12px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    width: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.shortcut-tiles .tiles-body p{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.tiles-body.tiles-simple{
    padding-bottom:7px;
}

.color-site{
    margin-bottom: 15px;
    margin-top: 15px;
}

.color-site:hover{
    color: #fff;
}

.color-pubdroit{
    background: #1e4b78;
    color: #fff;
}

.color-bail{
    background: #b71817;
    color: #fff;
}

.color-matrimonial{
    color: #fff;
    background: #e6408f;
}

.panel-body > .list-admin{
    margin: -20px;
}

.btn-block-left{
    display: block;
    width: 100%;
}

.site-dropdown {
    padding: 10px 5px;
    width: 240px;
}

.dropdown-menu > li.site-dropdown{
    margin-bottom: 5px;
}

.site-dropdown ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.navbar-inverse .navbar-nav > li.sitedrop a{
    color: #fff;
 }

.navbar-inverse .navbar-nav > li.sitedrop a:hover{
    background: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.duplicate{
    background: #f5f5f5;
}