/*
    Upload dropzone
*/

.dropzone {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin-left: 20px;
    min-height: 30px;
    padding: 0;
}

.dropzone .dz-message {
    margin: 1em 0;
}

.dropzone .dz-preview .dz-details {
    padding: 1em;
}

.dropzone .dz-preview {
    display: block;
    margin: 10px auto;
    max-width: 100px;
    min-height: 80px;
    position: relative;
    vertical-align: top;
}

.dropzone .dz-preview .dz-image {
    border-radius: 15px;
    display: block;
    height: 80px;
    overflow: hidden;
    position: relative;
    width: 100px;
    z-index: 10;
}

.dropzone .dz-preview.dz-image-preview {
    background: none;
}

.dropzone .dz-preview .dz-remove {
    color: #fff;
    background: #fcaf40;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 14px;
    text-align: center;
}

.dropzone .dz-preview .dz-remove:hover {
    text-decoration: none;
}

.listFiles{
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 0;
}

.listFiles li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.listFiles li a{
    display: block;
    width: 80px;
    height: 80px;
    padding: 2px;
    margin: 3px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.listFiles li a img{
    max-width:100%;
    max-height:100%;
}

#gallery{
    min-height: 80px;
}

#gallery li{
    width: 120px;
    height: 120px;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 5px;
}

#gallery li p{
    width: 110px;
    height: 20px;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background: #6e6e6e;
    padding: 3px 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#gallery li a{
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 100px;
    line-height: 90px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 110px;
}

#gallery li a img{
    height: auto;
}

#fileManager {
    overflow-y: auto;
    max-height: 550px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    height: 60px;
    margin-top: 5px;
    padding: 10px 20px;
    text-align: right;
}

/* item-content is visible, and transitions size */
.file-item {
    width: 360px;
    height: 239px;
    border: 5px solid transparent;
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
}

.btn-xs.file-manager-delete{
    left: 5px;
    line-height: 1;
    padding: 2px 5px 3px;
    position: absolute;
    top: 5px;
    z-index: 100;
}

.file-manager-crop{
    right: -5px;
    line-height: 1;
    padding: 2px 5px 3px;
    position: absolute;
    bottom: 5px;
    z-index: 100;
}

#fileManager{
    border: 1px solid #ddd;
    padding: 15px;
    background: #f5f5f5;
}

.file-choosen-wrapper .file-image{
    max-height: 90%;
    max-width: 90%;
}


.file-choosen-wrapper a.file-choosen{
    font-size: 13px;
    padding: 5px;
    line-height: 28px;
    margin-left: 15px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    color: #000;
    text-decoration: none;
}

.file-choosen-wrapper a.file-choosen:hover{
    background: #f1f1f1;
    color: #000;
    text-decoration: none;
}

.file-choosen-wrapper{
    height: 150px;
    padding: 5px;
    position: relative;
    width: 250px;
    margin-top: 10px;
}

.file-choosen-wrapper button{
    position: absolute;
    top: 5px;
    left: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

/*
FILE MANAGER
*/

#treeMenu{
    min-height: 550px;
}

#uploadModal .modal-body{
    min-height: 400px;
}

#fileManager img {
    max-width:  100px;
    max-height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.tree ul {
    list-style: none;
    padding-left: 5px;
}
.tree ul li {
    line-height: 22px;
    padding: 2px 0;
    padding-left: 16px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tree ul li:before {
    content: '';
    height: 1px;
    width: 10px;
    background-color: #333;
    position: absolute;
    top: 10px;
    left: 0;
    margin: auto;
}

.tree ul li:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.tree ul li:last-child:after {
    height: 10px;
}
.tree ul a {
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    cursor: pointer;
    display: block;
    line-height: 22px;
    padding: 2px 0 2px 5px;
}

.tree ul a:hover {
    color: #fff;
    background: #347cba;
    text-decoration: none;
}

.tree ul a.active {
    color: #fff;
    background: #6e6e6e;
    text-decoration: none;
}

/*
* Crop Manager
*/

#cropManager{
    visibility: hidden;
    min-height: 400px;
    position: relative;
    width: 98%;
}