label.error{
    border-left: 1px solid #ccc;
    color: red;
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 5px 0 0 7px;
}

.form-control.error{
    border-color: red;
    background: url("../images/error.png") no-repeat right;
    padding-right: 25px;
}

.form-control.valid{
    border-color: #0db444;
    background: url("../images/check.png") no-repeat right;
    padding-right: 25px;
}


@media (max-width: 768px) {

    .verticalcenter{
        padding: 20px;
    }
    .verticalcenter,.focusedform .panel{
        width: 100%;
    }
    .auth-logo{
        font-size: 20px;
    }
    .focusedform .verticalcenter{
        margin: 0;
    }
}


