#checkout{
    margin: 15px 0 15px 0;
}

#livraison{
    margin: 15px 0 20px 0;
}

#panier{
    margin: 20px 0 20px 0;
}

.badge-notify{
    background:red;
    position:relative;
    top: -15px;
    left: -15px;
}

figure{
    position: relative;
    padding: 5px;
    -webkit-box-shadow: 0 1px 4px 1px #4F4F4F;
    box-shadow: 0 1px 4px 1px #4F4F4F;
}

figure img{
    max-width: 100%;
}

figcaption.sp-quantity{
    position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
}

.sp-quantity button{
    position: relative;
    display: none;
}
.sp-quantity span.sp-plus{
    float: left;
    margin-left: -7px;
}
.sp-quantity span.sp-minus{
    float: right;
    margin-right: -7px;
}

.sp-quantity span.sp-minus button.badge, .sp-quantity span.sp-plus button.badge{
    background: red;
    border: none;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 1px 1px 0 #333333;
    box-shadow: 0 1px 1px 0 #333333;
}

.pager li.next-commander a{
    background: #41aa2f;
    border: 1px solid #41aa2f;
    color: #fff;
}

.pager li.next-confirm a{
    background: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
}

#updateAdresse .form-control{
    height: 30px;
    padding: 0 12px;
    font-size: 13px;
}

#updateAdresse .form-group {
    margin-bottom: 5px;
    font-size: 13px;
}

#updateAdresse .radio-inline {
    margin-bottom: 5px;
}

.parsley-errors-list {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 5px 0 3px;
    color: #b94a48;
    display: none;
}

.parsley-errors-list.filled {
    opacity: 1;
    display: block;
}

.parsley-errors-list li{
    line-height: 1.5em;
    color: #b94a48;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
    background-color: #f2dede;
    border: 2px solid #eed3d7;
    color: #b94a48;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 14px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 26px; height: 26px; display: block; background: #6fc561; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #41aa2f; border-radius: 50px; position: absolute; top: 6px; left: 6px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #6fc561;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/*
    Toogle radio button
*/

/* old IE gets regular radios */
.toggle-radio:not(.old-ie) {
    display: inline-block;
    width: auto;
}
.toggle-radio:not(.old-ie) label {
    background: #f5f5f5;
    padding: .75em 0;
    display: block;
    color: #222;
    width: 230px;
    line-height: 20px;
    height: 80px;
    float: left;
    text-align: center;
    opacity: 0.6;
    border-left: 1px solid #bbb;
}
.toggle-radio:not(.old-ie) label small {
    font-weight: normal;
    padding: 5px;
}

.toggle-radio:not(.old-ie) label:hover {
    cursor: pointer;
    background: #f7f7f7;
}
.toggle-radio:not(.old-ie) label:last-child {
    border-radius: 0 2px 2px 0;
}
.toggle-radio:not(.old-ie) [type="radio"] {
    display: none;
}
.toggle-radio:not(.old-ie) [type="radio"]:first-child + label {
    border-radius: 2px 0 0 2px;
    border: none;
}
.toggle-radio:not(.old-ie) [type="radio"]:checked + label {
    background: #3cb3ff;
    color: #000;
    opacity: 1;
}
