.sites-logos-wrapper{
    padding: 15px;
    background: #ddd;
    display: block;
}

.logos-bail{
    padding-left: 15px;
    padding-right: 0;
    margin-right: -15px;
    margin-left: -15px;
}

.logos-matrimonial{
    background: #cccccc;
    padding-left: 0;
    padding-right: 0;
}

.sites-logos a{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    width: 11%;
}

.sites-logos a:first-child{
    margin-left: 0;
}

.sites-logos a img{
    max-width: 100%;
}

@media only screen and (min-width : 200px) and (max-width : 768px){
    .sites-logos a{
        width: 28%;
        margin: 5px;
    }

    .sites-logos a:first-child{
        margin: 5px;
    }
}