$primary-red: #cb2629;
$secondary-red: #8d0a00;

$primary-grey: #6a6b6e;
$secondary-grey: #929495;

/* ===== Primary Styles ===============
   Bail
======================================= */

body {
  background: #b2b2b2 url("../../images/pubdroit/fond.jpg") repeat;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:visited{
	font-size: 13px;
}

p{
	font-size: 13px;
}

/*======================================
	Main Blocks
=======================================*/

#container{
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 1140px;
}

.colorBlock{
    background: $primary-red;
}

#entete{
	height: 143px;
	background: url("../../images/pubdroit/headerBg.png") no-repeat; 
}

	#entete div a{
		color: #fff;
		font-size: 13px;
	}

	#entete .illustration{
		width: 490px;
		float: left;
	}

	#entete .logo , #entete .master{
		width: 220px;
		float: left;
		height: 143px;
		padding: 20px 15px;
	}
	
	#entete .master{
		padding: 20px 9px;
	}
		
		#entete .master a{
			background: url("../../images/pubdroit/mastersBtn.png") right center no-repeat;
			padding-right: 27px;
			display: block;
		}
	
	#entete .profileBlock{
		width: 210px;
		float: left;
		height: 143px;
		padding: 20px 30px;
	}
	
		#entete .profileBlock a{
			line-height: 25px;
			height: 25px;
			display: block;
			padding-right: 30px;
		}

		#entete .profileBlock a.loginBtn{
			background: url("../../images/pubdroit/loginBtn.png") right center  no-repeat;
		}

		#entete .profileBlock a.newsletterBtn{
			background: url("../../images/pubdroit/newsletterBtn.png") right center  no-repeat;
		}

/*======================================
	Search
=======================================*/

.searchform
{
	position: relative;
	margin-bottom: 0;
	float: right;
	text-align: right;
}

.searchform input[type="text"]{
    border: 0 none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #6A6F75;
    margin: 8px 0;
    padding: 4px 30px 4px 20px;
    position: relative;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 24px;
}

.searchform input[type="submit"]{
    background: url("../../images/pubdroit/search.png") no-repeat scroll 2px 5px rgba(0, 0, 0, 0);
    border: medium none;
    height: 25px;
    left: 3px;
    position: absolute;
    text-indent: -999px;
    top: 9px;
    width: 28px;
    z-index: 10;
}

.searchform input[type="submit"]:hover{
	background: url("../../images/pubdroit/search.png") 2px 5px no-repeat;
}
	
/*======================================
	Filter
=======================================*/

#filters{
	margin: 0;
	padding: 5px 20px;
}

#filters li{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 10px;
}

	#filters li select{
		width: 160px;
	}

	#filters li a{
		color: #fff;
		font-size: 13px;
		border-radius: 4px;
	    -webkit-border-radius: 4px;
	}
	
	#filters li a.reinit{
		display: block;
	    height: 26px;
	    padding: 0 10px;
	    position: relative;
	    white-space: nowrap;
	    line-height: 26px;
	    color: #fff;
	    text-decoration: none;
	    border-radius: 4px;
	    background: #6a6b6e;
	    margin: 0 15px;
	}
	
/*======================================
	Navigation
=======================================*/

#menu{
	height: 40px;
	line-height: 40px;
	background: $primary-grey;
}

#menu-principal{
	height: 40px;
	overflow: hidden;
} 
 
	#menu-principal > a{
		color: #FFFFFF;
	    display: inline-block;
	    font-size: 13px;
	    line-height: 40px;
	    margin-right: 40px;
	    padding: 0 15px;
	    background: $primary-grey;
	} 
	
	#menu-principal a:hover, #menu a.active{
		background: $secondary-grey;
	} 
	
	#menu > a:after{
	
	} 

	#menu-principal a.noborder:after{
		border: none;
		content: "";
		padding: 0;
	}
	
#subMenu{
	height: 40px;
	clear: both;
	line-height: 40px;
	background: $secondary-grey;
} 

#subMenu a.reset {
    padding: 0;
    text-align: center;
    width: 101px;
}

#subMenu a.search-remove {
    color: #FFFFFF;
    display: inline-block;
    margin-right: 20px;
    margin-top: 8px;
    text-decoration: none;
}
	
/*======================================
	Content shop
=======================================*/

#content-isotope{
    display: block;
    min-width: 100%;
    overflow: visible !important;
    padding: 0 8px 0 14px;
}

div.block {
    height: 239px;
    margin-top: 15px;
    width: 172px;
    background: $secondary-grey;
}
.holder {
  position: relative;
  width: 172px;
  height: 239px;
  /* Shadow */
  -webkit-box-shadow: 0px 2px 10px #000000;
  -moz-box-shadow: 0px 2px 10px #000000;
  box-shadow: 0px 2px 10px #000000;
}

	.holder a {
	  position: relative;
	  display: block;
	}

	.shadow {
	  /* Shadow */
	  -webkit-box-shadow: 0px 2px 10px #000000;
	  -moz-box-shadow: 0px 2px 10px #000000;
	  box-shadow: 0px 2px 10px #000000;
	  display: block;
	}

	div.block .cover {
	  position: absolute;
	}
	
	div.block .cover img.big {
	  position: absolute;
	  top: 0;
	  left: 0;
	}
	
	div.opened .cover.pageflip-ready {
	  cursor: url('../images/magnify.cur'), pointer; 
	}
	
	div.block .title-bg {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 500;
	  background: #fff;
	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	  filter: alpha(opacity=80);
	  opacity: 0.8;
	}
	
	div.block .title-holder {
	  position: absolute;
	  left: 0px;
	  right: 0px;
	  bottom: 0px;
	  height: 50%;
	}
	
	div.block .title {
	  position: relative;
	  color: #000;
	  text-align: center;
	  display: block;
	  padding: 10px;
	  z-index: 900;
	}
	
	div.block .teaser {
	  color: #4bc2f1;
	}
	
	div.block .sold-out {
	  position: absolute;
	  left: 0px;
	  right: 0px;
	  top: 0;
	  text-align: center;
	  background: #B8151A;
	  padding: 3px;
	  color: #fff;
	  z-index: 500;
	}
	
	div.block .new {
	  position: absolute;
	  left: 5px;
	  top: 5px;
	  display: block;
	  width: 103px;
	  height: 69px;
	  background: url('../../images/pubdroit/button_new.png');
	  z-index: 450;
	}
	
	div.block .close {
	  position: absolute;
	  top: -7px;
	  right: -20px;
	  display: block;
	  width: 39px;
	  height: 37px;
	  background: url('../../images/pubdroit/close.png');
	}
	
	.product-left, .product-right, .product-bottom {
	  color: #fff;
	}
	
	.product-left {
	  position: absolute;
	  top: 15px;
	  left: 15px;
	  width: 270px;
	  height: 463px;
	}
	
	
	.product-left .viewport {
		height:463px;
		overflow:hidden;
		position:relative;
		width:241px;
	}
	
	.product-left .overview {
		left:0;
		margin:0;
		padding:0;
		position:absolute;
		top:0;
	}
	
	.product-left .scrollbar {
		background:url('../../images/pubdroit/bg-scrollbar-track-y.png') no-repeat 0 0;
		float:right;
		position:relative;
		width:15px;
	}
	
	.product-left .track {
		background:url('../../images/pubdroit/bg-scrollbar-trackend-y.png') no-repeat 0 100%;
		height:100%;
		padding:0 1px;
		position:relative;
		width:13px;
	}
	
	.product-left .thumb {
		background:url('../../images/pubdroit/bg-scrollbar-thumb-y.png') no-repeat 50% 100%;
		cursor:pointer;
		height:20px;
		left:-5px;
		overflow:hidden;
		position:absolute;
		top:0;
		width:25px;
	}
	
	.product-left .thumb .end {
		background:url('../../images/pubdroit/bg-scrollbar-thumb-y.png') no-repeat 50% 0;
		height:5px;
		overflow:hidden;
		width:25px;
	}
	
	.product-left .disable {
		display:none;
	}

	.product-title {
	  font-weight: bold;
	  font-size: 14px;
	}
	.product-author {
	  font-family: "Helvetica light", Helvetica, sans-serif;
	  font-size: 14px;
	  color: #dbdbdb;
	  margin-top: 10px;
	  /*margin-bottom: 10px;*/
	}
	.product-longdesc {
	  font-size: 12px;
	  text-align: justify;
	}
	
		.product-longdesc h3 {
		    font-size: 14px;
		    font-weight: normal;
		    padding: 4px 0;
		    color: #fff;
		}
	
	.product-right {
	  position: absolute;
	  top: 360px;
	  right: 15px;
	  width: 240px;
	}
	.product-price {
	  font-size: 14px;
	}
	.product-cart {
	  display: block;
	  float: right;
	  padding-top: 69px;
	  min-width: 103px;
	  background: url('../../images/pubdroit/button_addcart.png') no-repeat top right;
	  font-weight: normal;
	  margin-left: 15px;
	  color: #c1c1c5;	
	}
	
	.product-cart:link, .product-cart:visited, .product-cart:hover, .product-cart:active {
	  color: #c1c1c5;		
	}
	
	span.product-cart {
	  background: url('../../images/pubdroit/button_addcart_empty.png') no-repeat top right;
	}
	.product-bottom {
	  position: absolute;
	  left: 15px;
	  right: 15px;
	  bottom: 20px;
	}
	.product-bottom .related {
	  text-align: center;
	}
	.product-bottom .product-other-buy {
	  display: block;
	  padding-top: 10px;
	  border-top: 1px solid #fff;
	  font-size: 12px;
	}
	.product-other-buy img {
	  display: inline;
	  margin: 10px 3px;
	}
	
/*======================================
	Content event
=======================================*/
	
#events{
	width: 100%;
	background: #d0d0d0;
}
