/*
* Table
*/
#content-table,
.content-table
{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#content-table tr,
.content-table tr
{
    font-size: 12px;
}

#content-table th,
.content-table th
{
    padding: 5px 2px;
    color: #000;
}

.content-wide{
    background: #f7f7f7;
    padding: 10px;
    margin-top: 10px;
}

.content-attestation{
    line-height: 30px;
}

h4.colloque-attestation{
    line-height: 20px;
    margin: 5px 0 10px 0;
    font-size: 14px;
}

.comment-attestation{
    line-height: 20px;
}

.signature-attestation{
    line-height: 20px;
}

.content-wide h1{
    font-size: 18px;
}

.line{
    height: 1px;
    display: block;
    margin-bottom: 8px;
    border-bottom: 1px solid #f7f7f7;
}

.push-top{
    margin-top: 30px;
}

.infos h4{
    font-size: 12px;
    margin-bottom: 3px;
}

.infos p{
    font-size: 11px;
    margin-bottom: 8px;
}

.tva{
    font-size: 11px;
    margin-top: 10px;
}

.message{
    font-size: 12px;
    margin-bottom: 10px;
}

.titre-info{
    font-size: 11px;
}

.titre-info strong{
    width: 40px;
    display: inline-block;
}

.options{
    margin-left: 15px;
    margin-top: 5px;
    padding-left: 0;
    list-style-type: square;
}

.options li{
    margin-bottom: 5px;
    list-style-type: square;
}

.options li ul{
    list-style: none;
}

.options li ul li{
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
}

.organisateur{
    font-weight: normal;
    font-size: 12px;
}

.facture-table{
}

.facture-table td{
    padding: 5px 0;
}