/**********************************************RESPONSIVE 480 START**********************************************/
@media (max-width: 480px) {
body {
	padding: 0 !important;
}
#logo {
	width: 100%;
}
.top-nav2 {
	margin: 0;
}
.top-nav2 li a {
	font-size: 12px;
}
.wellcome-msg h2 {
	font-size: 19px;
	margin: 0;
}
.wellcome-msg p {
	font-size: 15px;
}
.m-bottom {
	margin-bottom: 30px !important;
}
#socialicons {
	text-align: center;
}
#socialicons > a {
	float: none;
}
.footer2-link {
	float: none;
	display: block;
	text-align: center;
}
.footer2-link li {
	float: none;
	display: inline-block;
}
h2.heading-404{
	font-size:192px;
	margin:0;
}
.content-img{
	width:100%;
	margin:0 0 20px 0;
}
.post-nav li{
	font-size:12px;
	margin-right:10px;
	padding-left:12px;
}
.post-nav{
	margin:0 0 20px 0;
}
input, textarea, .uneditable-input{
	height:30px !important;
	width:100% !important;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.form-horizontal textarea{
	width:100%;
	max-width:100%;
	min-width:100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.footer-top1 h4{
	margin:20px 0 40px 0;
}
.b-img-holder{
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.zoom{
	width:100%;
}
.nav-tabs > li > a{
	font-size:13px !important;
}
.mobile-hidden{
	display:none;
}
.cart-table-holder{
	padding:10px;
}
.product-detail input[type="text"]{
	margin:0;
}
.wrapper .features-books .slide{
	width:100% !important;
}
.item-holder img{
	width:100%;
}
.the-icons li{
	width:100%;
}
}
/**********************************************RESPONSIVE 480 END**********************************************/

/**********************************************RESPONSIVE 767 START**********************************************/
@media (max-width: 767px) {
body {
	padding: 0 !important;
}
#socialicons, .footer2-link {
	text-align: center;
	display: block;
	float: none;
}
#socialicons > a, .footer2-link li {
	float: none;
	display: inline-block;
}
#main-footer p {
	text-align: center;
}
h2.heading-404{
	margin:-30px 0 0;
}
.content-img{
	width:100%;
	margin:0 0 20px 0;
}
.mobile-hidden{
	display:none;
}
.cart-table-holder{
	padding:10px;
}
.product-detail input[type="text"]{
	margin:0;
}
.item-holder img{
	width:100%;
}
}
/**********************************************RESPONSIVE 767 END**********************************************/

/**********************************************RESPONSIVE 768 and 979 START**********************************************/
@media (min-width: 768px) and (max-width: 979px) {
body {
	padding: 0 !important;
}
#main-header .navbar .nav > li {
	background: none;
}
.author-det {
	padding: 97px 0 73px;
}
.featured-author .right {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}
.footer-top1 h4 {
	font-size: 28px;
	margin: 0 0 20px 0;
}
h2.heading-404{
	margin:0;
}
.zoom{
	width:100%;
}
}
/**********************************************RESPONSIVE 768 and 979 END**********************************************/

/**********************************************RESPONSIVE 1200 START**********************************************/
@media (min-width: 1200px) {
#main-header .navbar .nav > li {
	font-size: 16px;
}
}
/**********************************************RESPONSIVE 1200 END**********************************************/
