/* ===== Primary Styles =====================================================
   Bail
   ========================================================================== */
/* line 7, main.scss */
body {
  background: #cccccc;
}

/* line 11, main.scss */
img {
  max-width: 100%;
}

/* line 15, main.scss */
h1, h2, h3, h4, h5 {
  margin: 0 0 10px 0;
}

/* line 19, main.scss */
h3 {
  font-size: 0.9em;
  font-weight: bold;
}

/* line 24, main.scss */
h4 {
  font-size: 0.8em;
  font-weight: bold;
}

/* line 29, main.scss */
h5 {
  font-size: 0.75em;
  font-weight: bold;
}

/* line 34, main.scss */
a, a:hover, a:active, a:visited {
  color: #cb2629;
  text-decoration: none;
}

/* line 39, main.scss */
p {
  font-size: 13px;
  line-height: 18px;
}

/* line 44, main.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #c02326;
}

.inner{
  padding: 0 10px;
}
/*======================================
	Main Blocks
=======================================*/
/* line 52, main.scss */
#main {
  background: #fff;
  /* Old browsers */
}

/* line 57, main.scss */
#header {
  background: #fff;
  height: 86px;
}

/* line 62, main.scss */
#breadcrumbs, #breadcrumbs a {
  color: #fff;
  font-size: 12px;
}

/* line 67, main.scss */
#header h1 {
  font-size: 20px;
  margin-top: 15px;
}

/* line 72, main.scss */
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 80, main.scss */
footer {
  bottom: 0;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  margin-top: 40px;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}

/* line 90, main.scss */
footer a {
  color: #fff;
}

/* line 94, main.scss */
.header {
  height: 86px;
}

/* line 98, main.scss */
.colorSection {
  height: 35px;
  line-height: 24px;
}

/* line 104, main.scss */
.min-inner {
  margin: 0;
  padding: 5px 15px;
}

/* line 109, main.scss */
.homepageBlock p {
  text-align: justify;
}

/* line 114, main.scss */
.colorBlock {
  background: #cb2629;
}

/* line 118, main.scss */
.colorBlock h4 {
  margin-top: 5px;
}

/* line 122, main.scss */
.colorBlock h4, .colorBlock a, .colorBlock p {
  color: #fff;
  text-align: left;
}

/* line 127, main.scss */
.colorBlock p {
  color: #f5c8c8;
}

/*======================================
	Search
=======================================*/
/* line 136, main.scss */
.searchform {
  position: relative;
  margin-bottom: 0;
}

/* line 141, main.scss */
.searchform input[type="text"] {
  border-radius: 5px;
  height: 25px;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  text-indent: 5px;
  z-index: 1;
  color: #999999;
}

/* line 152, main.scss */
.searchform input[type="submit"] {
  position: absolute;
  border: none;
  background: url("../../images/bail/search_btn.png") 1px 3px no-repeat;
  text-indent: -999px;
  right: 1px;
  top: 1px;
  z-index: 10;
  height: 25px;
  width: 28px;
}

/* line 164, main.scss */
.searchform input[type="submit"]:hover {
  background: url("../../images/bail/search_btn.png") 1px 3px no-repeat;
}

/*======================================
	Navigation
=======================================*/
/* line 172, main.scss */
#menu-principal {
  line-height: 70px;
}

/* line 176, main.scss */
#menu-principal > a {
  display: inline-block;
  padding: 0 5px;
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}

/* line 184, main.scss */
#menu-principal > a:hover, #menu-principal > a.active {
  color: #cb2629;
}

/* line 188, main.scss */
#menu-principal > a:after {
  content: "|";
  padding: 0 0 0 15px;
}

/* line 193, main.scss */
#menu-principal a.noborder:after {
  border: none;
  content: "";
  padding: 0;
}

/*======================================
	Sidebar
=======================================*/
/* line 203, main.scss */
h3.link {
  margin-bottom: 0;
}

/* line 207, main.scss */
.searchBg {
  background: #cb2629 url("../../images/bail/search_bg.png") repeat-y;
}

/* line 211, main.scss */
.blockTitle {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #cb2629 url("../../images/bail/search_bg.png") repeat-y;
}

/* line 221, main.scss */
a.newsletterLink:hover {
  color: #cb2629;
}

/* line 225, main.scss */
.newsletterLink {
  color: #000;
  border-bottom: 1px solid #cb2629;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 5px 0;
  margin-right: 5px;
  display: block;
  background: url("../../images/bail/right_close.png") center right no-repeat;
}

/* line 237, main.scss */
.toggleActive {
  background: url("../../images/bail/right_open.png") center right no-repeat;
  font-weight: bold;
  color: #000;
}

/* line 243, main.scss */
.toggleNewsletter {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 13px;
}

/* line 249, main.scss */
.toggleNewsletter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 255, main.scss */
.toggleNewsletter ul li {
  line-height: 18px;
}

/* line 259, main.scss */
.toggleNewsletter ul li a {
  color: #000;
  font-size: 12px;
  line-height: 18px;
}

/* line 266, main.scss */
.toggleNewsletter ul li a:hover {
  color: #cb2629;
}

/* line 270, main.scss */
.calculator, .calculator p, .calculator label {
  font-size: 11px;
}

/* line 274, main.scss */
.calculator label {
  margin-top: 15px;
}

/* line 278, main.scss */
.calculator form, .calculator form .tiny {
  margin-bottom: 0;
}

/* line 282, main.scss */
.autorite-canton {
  text-align: center;
}

/******************************************************
* RIGHT
******************************************************/
/* line 290, main.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0;
}

/* line 293, main.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0;
}

/* line 296, main.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0;
}

/* line 299, main.scss */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0;
}

/* line 303, main.scss */
#rightmenu {
  min-height: 190px;
  padding: 15px 15px;
}

/* line 307, main.scss */
#rightmenu a {
  display: block;
  color: #000;
  text-decoration: none;
}

/* line 313, main.scss */
#rightmenu .ui-widget-content {
  background: none;
  border: none;
  color: #222222;
}

/* line 319, main.scss */
#rightmenu h4 a {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 3px;
}

/* line 325, main.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  background: none;
}

/* line 329, main.scss */
#rightmenu a:hover {
  color: #CB2629;
  text-decoration: none;
}

/* line 333, main.scss */
#rightmenu h4 {
  background: url(../../images/bail/right_close.png) 100% 7px no-repeat;
  border: none;
  border-bottom: 1px solid #CB2629;
  display: block;
  margin: 0 0 12px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

/* line 346, main.scss */
#rightmenu h4:last-child {
  margin-bottom: 0;
}

/* line 349, main.scss */
#rightmenu h4.accordion {
  background: url(../../images/bail/right_close.png) 100% 7px no-repeat;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 0;
}

/* line 356, main.scss */
#rightmenu h4.accordion.active {
  font-weight: bold;
  background: url(../../images/bail/right_open.png) 100% 7px no-repeat;
}

/* line 362, main.scss */
#rightmenu h4 a,
#rightmenu h4 span.a {
  padding: 3px 0;
}

/* line 366, main.scss */
#rightmenu ul.menu {
  margin: 0;
  padding: 0 10px 20px;
  list-style: none;
}

/* line 371, main.scss */
#rightmenu ul.menu li {
  margin: 0;
  font-size: 13px;
}

/* line 375, main.scss */
#rightmenu ul.menu li a.act {
  color: #CB2629;
}

/* line 380, main.scss */
#rightmenu ul.menu2col1,
#rightmenu ul.menu2col2 {
  float: left;
  width: 80px;
  margin: 0;
  padding: 0 10px 20px;
  list-style: none;
}

/* line 388, main.scss */
#rightmenu ul.menu2col1 li,
#rightmenu ul.menu2col2 li {
  margin: 0 0 3px;
}

/* line 392, main.scss */
#rightmenu ul.menu2col1 li a.act,
#rightmenu ul.menu2col2 li a.act {
  color: #CB2629;
}

/* line 397, main.scss */
#right .box {
  margin: 0px 20px 32px;
}

/* line 401, main.scss */
#right .box h4 {
  position: relative;
  left: -20px;
  width: 215px;
  display: block;
  margin: 0;
  height: 25px;
  padding: 11px 20px 2px;
  background: #cb2629 url("../images/search_bg.png") 0 0 repeat-y;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  border: 0;
}

/*** special soutien ***/
/* line 417, main.scss */
#right .soutien .logo {
  padding: 10px 0 0;
  text-align: right;
}

/*** special jurisprudence ***/
/* line 423, main.scss */
.accordionContent.jurisprudence h6, .accordionContent.seminaire h6 {
  margin-top: 0;
}

/* line 426, main.scss */
.accordionContent.jurisprudence .list, .accordionContent.seminaire .list {
  margin: 0 0 20px;
  list-style: none;
}

/* line 430, main.scss */
.accordionContent.jurisprudence .list li, .accordionContent.seminaire .list li {
  position: relative;
}

/* line 433, main.scss */
.accordionContent.jurisprudence .list li a, .accordionContent.seminaire .list li a {
  display: block;
  height: 15px;
  padding: 0 0 0 20px;
  margin-bottom: 6px;
  font-size: 13px;
  text-decoration: none;
  background: url("../../images/bail/check.png") 0 0 no-repeat;
}

/* line 442, main.scss */
.accordionContent.jurisprudence .list li a:hover, .accordionContent.seminaire .list li a:hover {
  text-decoration: underline;
  color: #B80E1D;
}

/* line 446, main.scss */
.accordionContent.jurisprudence .list li a.active, .accordionContent.seminaire .list li a.active {
  text-decoration: underline;
  color: #B80E1D;
  background: url("../../images/bail/check.png") 0 -26px no-repeat;
}

.maincontent{
  -webkit-box-shadow: 2px 0 5px 4px #BABABA;
  box-shadow: 2px 0 5px 4px #BABABA;
}

/*** special seminaire ***/
/* line 454, main.scss */
#seminaires .sujets {
  color: #000000;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
}

/* line 461, main.scss */
#seminaires .sujets .col {
  float: left;
  padding: 2px;
}

/* line 465, main.scss */
#seminaires .sujets .sujet {
  border-bottom: 1px solid #B80E1D;
  padding: 10px 0;
}

/* line 469, main.scss */
#seminaires .sujets .category {
  margin-right: 4px;
  width: 90px;
}

/* line 474, main.scss */
#seminaires .sujets .category h4 {
  color: #000000;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  padding: 0;
}

/* line 482, main.scss */
#seminaires .sujets .hidden {
  display: none;
}

/* line 486, main.scss */
#seminaires .sujets .edition {
  margin-right: 4px;
  width: 130px;
}

/* line 490, main.scss */
#seminaires .sujets .annee {
  margin-right: 4px;
  width: 36px;
}

/* line 494, main.scss */
#seminaires .sujets .catTitle .annee strong {
  left: -4px;
  position: relative;
}

/* line 498, main.scss */
#seminaires .sujets .desc {
  margin-right: 4px;
  width: 200px;
}

/* line 502, main.scss */
#seminaires .sujets .auteur {
  margin-right: 4px;
  width: 120px;
}

/* line 506, main.scss */
#seminaires .sujets .order {
  width: 65px;
}

/* line 511, main.scss */
.ui-accordion .ui-accordion-content {
  padding: 0;
}

/* line 516, main.scss */
.ui-accordion-header-active.ui-state-active a {
  font-weight: bold;
}

/* line 520, main.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999999;
}

/* line 524, main.scss */
.chzn-container-multi .chzn-choices .search-field input {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: 0 none !important;
  box-shadow: none;
  color: #666666;
  margin: 1px 0;
  outline: 0 none;
  padding: 5px;
}

/* line 534, main.scss */
.filtre h6 {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}

/******************************************************
* Calculette
******************************************************/
/* line 544, main.scss */
#calculatorResult {
  margin: 20px 0 0 0;
}

/* line 548, main.scss */
#calculatorResult .lines {
  clear: both;
  line-height: 18px;
  font-size: 12px;
}

/* line 554, main.scss */
#calculatorResult .details .lines .label-input, #calculatorResult .result .lines .label-input {
  display: block;
  float: left;
  width: 180px;
}

/* line 560, main.scss */
#calculatorResult .details .lines .value, #calculatorResult .result .lines .value {
  display: block;
  float: right;
  width: 30px;
}

/* line 567, main.scss */
#calculatorResult .details .dates {
  color: #808080;
  display: block;
  font-size: 11px;
  padding-bottom: 5px;
}

/* line 575, main.scss */
#calculatorResult .result {
  margin-bottom: 20px;
}

/* line 580, main.scss */
#calculatorResult .result .nouveau_loyer {
  font-weight: bold;
}

/*======================================
	Arrets
=======================================*/
/* line 589, main.scss */
#arrets .arrets .arret.hidden {
  display: none;
}

/* line 593, main.scss */
#analyses {
  border-bottom: 1px solid #DCDCDC;
  display: block;
  margin-bottom: 30px;
}

/* line 599, main.scss */
#arrets .arrets .cat.hidden {
  display: none;
}

/* line 604, main.scss */
.arret .content {
  font-size: 12px;
  line-height: 18px;
}

/* line 609, main.scss */
.arret .content h3 {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}

/* line 616, main.scss */
#arrets .arrets .cat .details h4 {
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
}

/* line 625, main.scss */
#arrets .arrets .cat .details img {
  display: block;
  margin: 0 auto;
}

/* line 630, main.scss */
.arret {
  margin-bottom: 25px;
}

/* line 635, main.scss */
.arret p, .arret ul {
  margin-bottom: 10px;
}

/* line 639, main.scss */
.arret ul li {
  font-size: 13px;
}

/*======================================
	Misc
=======================================*/
/* line 646, main.scss */
.regle {
  border-bottom: 1px solid #DCDCDC;
  height: 1px;
  display: block;
  width: 90%;
  margin: 10px auto 40px auto;
}

/* line 654, main.scss */
.upMarge {
  margin-top: 15px;
}

/* line 658, main.scss */
.line {
  line-height: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cb2629;
}
