/* ===== Primary Styles =====================================================
   Bail
========================================================================== */

body {
    background: #cccccc;
    font-family: Arial,​Verdana,​Helvetica,​sans-serif;
}

button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus {
  background-color: #c02326;
}

/*======================================
	Styles
=======================================*/

a, a:hover,
a:active,
a:visited {
    color: #cb2629;
}

.line{
    border-bottom: 1px solid #cb2629;
}

.agenda{
    padding: 15px;
    background: #cb2629;
    color: #f5c8c8;
}

.agenda a, .agenda h5{
    color: #fff;
    margin: 0;
    padding: 0;
}

.agenda h5{
    margin-bottom: 5px;
    border: none;
}

.autorite-canton {
    text-align: center;
}

/*======================================
	Main Blocks
=======================================*/
#main {
  background: #fff;
}

#content{
    margin-bottom: 10px;
}

.header {
  background: #fff;
  height: 86px;
}

#breadcrumbs, #breadcrumbs a {
  color: #fff;
}

.colorBlock{
    background: #cb2629;
}

 .btn-danger {
    background: #cb2629;
     font-size: 12px;
     line-height: 20px;
}

.colorBlock h4,
.colorBlock a,
.colorBlock p {
  color: #fff;
}

.colorBlock{
    background: #cb2629;
}

.colorBlock p {
  color: #f5c8c8;
}

/*======================================
	Navigation
=======================================*/
#menu-principal > a{
    color: #000;
}

#menu-principal > a:hover,
#menu-principal > a.active {
    color: #cb2629;
}

/*======================================
	Form
=======================================*/
.form-control:focus {
    border-color: #f5c8c8;
    box-shadow: 0 1px 1px #f5c8c8 inset, 0 0 8px #f5c8c8;
}

/*======================================
	Sidebar
=======================================*/

.color-bloc {
    color: #fff;
    padding:10px 10px;
    background: #cb2629;
    -webkit-box-shadow:inset 6px 0 5px -2px #750000;
    box-shadow:inset 6px 0 5px -2px #750000;
}

#rightmenu h5 a{
    border-bottom:1px solid #CB2629;
}

#rightmenu h5 a i{
    color:#CB2629;
}

/*======================================
	FAQ
=======================================*/

.faq_list{
  margin-bottom: 20px;
  margin-left: 0;
  padding:0;
}

.faq_list p{
   width: 32%;
   display: table;
   float: left;
   margin: 5px;
 }

.faq_list p a{
  display: table-cell;
  font-size: 13px;
  height: 40px;
  padding: 4px 15px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  line-height: 15px;
  text-align: center;
  vertical-align: middle;
}

.faq_list p a:hover, .faq_list p a.active{
  background: #e3e3e3;
}

.faq_wrapper h3{
  margin-bottom: 10px;
}

.faq_wrapper div{
  margin-bottom: 20px;
}

/*======================================
	Seminaire
=======================================*/
#seminaires .sujets {
  color: #000000;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
}

#seminaires .sujets .col {
  float: left;
  padding: 2px;
}

#seminaires .sujets .sujet {
  border-bottom: 1px solid #B80E1D;
  padding: 10px 0;
}

#seminaires .sujets .category {
  margin-right: 4px;
  width: 90px;
}

#seminaires .sujets .category h4 {
  color: #000000;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  padding: 0;
}

#seminaires .sujets .hidden {
  display: none;
}

#seminaires .sujets .edition {
  margin-right: 4px;
  width: 130px;
}

#seminaires .sujets .annee {
  margin-right: 4px;
  width: 36px;
}

#seminaires .sujets .catTitle .annee strong {
  left: -4px;
  position: relative;
}

#seminaires .sujets .desc {
  margin-right: 4px;
  width: 200px;
}

#seminaires .sujets .auteur {
  margin-right: 4px;
  width: 120px;
}

#seminaires .sujets .order {
  width: 65px;
}

/******************************************************
* Calculette
******************************************************/
.calculator label {
    margin-top: 15px;
    font-size: 12px;
}

.calculator form, .calculator form .tiny {
    margin-bottom: 0;
}

#calculatorResult {
  margin: 20px 0 0 0;
}

#calculatorResult .lines {
  clear: both;
  line-height: 18px;
  font-size: 12px;
}

#calculatorResult .details .lines .label-input,
#calculatorResult .result .lines .label-input {
  display: block;
  float: left;
  width: 180px;
}

#calculatorResult .details .lines .value,
#calculatorResult .result .lines .value {
  display: block;
  float: right;
  width: 30px;
}

#calculatorResult .details .dates {
  color: #808080;
  display: block;
  font-size: 11px;
  padding-bottom: 5px;
}

#calculatorResult .result {
  margin-bottom: 20px;
}

#calculatorResult .result .nouveau_loyer {
  font-weight: bold;
}
