body, .row-fluid .wellcome-msg[class*="span"], .author-img-holder, .featupurple-author, .heading-bar h2, .reviews-section, #main-header .navbar-inverse .nav > li > a:hover, .featured-author,
#main-header .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, #main-header .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, #main-header .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle
{	border-color:#ab29e1;	}
.nav-tabs > .active > a{border-top-color:#ab29e1;}
.top-nav li a:hover, .top-nav li a.active, #main-header input[type="button"], .bb-custom-wrapper, .post-date, .footer-top1 .sub-btn, .post-date2, .slide2-caption, .side-holder h2, .vote-btn, .more-btn, .accordion-inner tr.heading-bar-table, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
#main-header .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, #main-header .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, #main-header .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle
{	background: #ab29e1 !important;	}
.e-commerce-list li a, .wellcome-msg p, .phon-list, .testimonials .title span, .author-det-box .title2, .book-detail .title, .side-holder .title, .pagination ul > .active > a, .pagination ul > .active > span, .book-i-caption .title, .r-type, .review-list em, .cart-option-box i, .green-t, .title-holder h4 i
{	color:#ab29e1;	}
#main-header input[type="button"]:hover{	background:#ab29e1;	}
a{	color:#ab29e1;	}
 .accordion-inner tr.heading-bar-table{ border-color:#5a3170 }
.bb-custom-content{	 background: url("../../images/flower-bg.jpg") no-repeat scroll center top #ab29e1 !important;	 }
.cart-btn2 {    background: url("../../images/purple/cart-icon.png") no-repeat scroll 0 0 transparent;	}
.product_view li a.grid-view{	background-image:url("../../images/purple/grid-icon.png");	}
.product_view li a.list-view{	background-image:url("../../images/purple/list-icon.png");	}
.cart-btn{		background-image:url("../../images/purple/cart-icon.png");	}
.blog-sec-slider .bx-wrapper .bx-prev,	.blog-sec-slider .bx-wrapper .bx-next {    background-image: url("../../images/purple/controls2.png") ;		}
.shop-btn {    background: url("../../images/purple/shop-btn.png") no-repeat scroll 0 0 transparent;	}
.sale-icon {    background-image:  url("../../images/purple/sale-icon.png");}
.bx-wrapper .bx-prev ,
.bx-wrapper .bx-next {    background-image: url("../../images/purple/controls.png") }
.testimonials .bx-wrapper .bx-next,
.testimonials .bx-wrapper .bx-prev {    background-image: url("../../images/red/controls1.png") }