* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content, .content{
    margin: 5mm 10mm;
    display: block;
    width: 100%;
    z-index: 2;
}

h1{
    font-size: 20px;
    font-weight: 600;
    display: block;
}

h2{
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

h3{
    font-size: 13px;
    display: block;
    font-weight: normal;
    color: #000;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

ol li{
    font-size: 11px;
    margin-bottom: 5px;
}

.organisateur{
    font-size: 11px;
}

.organisateur h4{
    font-size: 11px;
    margin-bottom: 5px;
}

.title{
    margin-bottom: 10px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-middle{
    text-align: center;
}

.text-muted{
    color: #666;
}

/*
* Colors
*/
.blue{
    color: #004c7c;
}

.red{
    color: #b70f1d;
}

.red small{
    font-size: 10px;
}
/*
* Adresse
*/
#facdroit,#user,#tva, #adresse{
    margin:0;
    padding: 0;
    list-style: none;
}

#facdroit li, #logoImg{
    padding-left: 25px;
}

#user{
    padding-top: 10px;
}

#user li,#tva li, #adresse li{
    font-size: 12px;
}

#facdroit li, #facdroit p, #facdroit{
    font-size: 11px;
}

#header-main{
    height: 70mm;
}

.visible-print {
    display: block !important;
}

.coordonnees{
    margin-top: 3px;
}

.coordonnees h4{
    font-size: 11px;
    margin-top: 2px;
}

.coordonnees p{
    font-size: 10px;
}